<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <form action="form" method="POST">
        <form action="/action_page_binary.asp" method="post" enctype="multipart/form-data">
          First name: <input type="text" name="fname" value="Enter Name First"><br>
          Last name: <input type="text" name="lname"value="Enter Last Name"><br>
          <input type="submit" value="Submit">
        </form>

    </form>
</body>
</html>